[submodule "asp3/arch/arm_m_gcc/stm32f4xx_stm32cube/cmsis_device_f4"]
	path = asp3/arch/arm_m_gcc/stm32f4xx_stm32cube/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "asp3/arch/arm_m_gcc/stm32f4xx_stm32cube/stm32f4xx_hal_driver"]
	path = asp3/arch/arm_m_gcc/stm32f4xx_stm32cube/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
