/*
 *		シリアルインタフェースドライバのターゲット依存部（ダミーターゲッ
 *		ト用）のコンフィギュレーションファイル（非TECS版専用）
 *
 *  $Id: target_serial.cfg 1003 2018-07-27 08:48:02Z ertl-hiro $
 */

#include "target_serial.h"
ATT_INI({ TA_NULL, 0, sio_initialize });
ATT_TER({ TA_NULL, 0, sio_terminate });
CFG_INT(INTNO_SIO, { INTATR_SIO, INTPRI_SIO });
CRE_ISR(ISR_SIO, { TA_NULL, 0, INTNO_SIO, sio_isr, 1 });
